<section class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h4 class="my-3"><span class="bg-light">商品一覧</span></h4>

      <table class="table">
        <thead>
          <tr class="bg-light">
            <th scope="col">商品ID</th>
            <th scope="col">商品名</th>
            <th scope="col">税抜価格</th>
            <th scope="col">ジャンル</th>
          </tr>
        </thead>
        <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name, admin_item_path(item), class:"text-secondary" %></td>
            <td><%= item.price.to_s(:delimited) %></td>
            <td><%= item.genre.name %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</section>
