<section class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">

      <h4 class="my-3"><span class="bg-light">会員一覧</span></h4>

      <table class="table">
        <thead>
          <tr class="bg-light">
            <th scope="col">会員ID</th>
            <th scope="col">氏名</th>
            <th scope="col">メールアドレス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td><%= link_to customer.full_name, admin_customer_path(customer) %></td>
              <td><%= customer.email %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</section>
